<div class="card-body-content">

    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" novalidate>
        <div formGroupName="ticketData">
            <div class="person-name">
                <div class="w-100">
                    <div class="form-control text-start"> <input class="p-5" formControlName="firstName" placeholder="First Name"/></div>
                </div>
                <div class="w-100">
                    <div class="form-control text-end"> <input class="p-5"  formControlName="lastName" placeholder="Last Name"/></div>
                </div>
               
               
            </div>
            <div class="form-control mt-15">
                <input class="p-5"  formControlName="email" placeholder="Email" />
            </div>

            <div class="form-control mt-30">
                <div class="input-label text-left">
                    Would you like to receive the branded connections and other e-communications from the us?
                </div>
            </div>
            <p class="text-left">
                <input type="radio" id="yes" name="radio-group" checked>
                <label class="radio-text" for="yes">Yes</label>
              </p>
              <p class="text-left">
                <input type="radio" id="no" name="radio-group">
                <label class="radio-text" for="no">NO</label>
              </p>
        </div>
    </form>
</div>



